.statistics {
  width: 300px;
  margin: 80px auto;
  text-align: center;
  box-shadow: 0px 0px 10px 1px #00000040;
  background-color: white;
}

.title {
  margin: 0;
  padding: 20px 0px;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.item {
  width: 20%;
  text-align: center;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
}
